<!-- path: src/app/user/user.component.ts -->
<div style="text-align:center">
    <img width="100" alt="property as one-way binding" [src]="image">
    <h2>{{ user.firstname }} {{ user.lastname }} Details : </h2>
    <div><span>id: </span>{{user.id}}</div>
    <div><span>email: </span>{{user.email}}</div>
    <div><span>birth date: </span>{{user.birthdate}}</div>

    <div style="margin: 2% 5% 0 5%;display:inline-block;">
        <!-- AfterViewInit Hook -->
        <input #input type="text" placeholder="Test input for auto-focus">
        <!-- Two-way binding -->
        <input type="text" [(ngModel)]="user.firstname">
        <input type="text" [(ngModel)]="user.lastname">
        <input type="text" [(ngModel)]="user.email">
    </div>
</div>