<!-- ============================================================== -->
<!-- Navigation  -->
<!-- ============================================================== -->
<app-navbar></app-navbar>
<!-- ============================================================== -->
<!-- End navigation  -->
<!-- ============================================================== -->

<!-- ============================================================== -->
<!-- Page wrapper  -->
<!-- ============================================================== -->
<div class="container-fluid">
    <router-outlet></router-outlet>
</div>
<!-- ============================================================== -->
<!-- End Page wrapper  -->
<!-- ============================================================== -->


<!-- ============================================================== -->
<!-- footer -->
<!-- ============================================================== -->
<footer class="footer">
    <div class="footer-copyright text-center py-3">© 2018 Angular CLI Stater by <strong>you</strong></div>
</footer>
<!-- ============================================================== -->
<!-- End footer -->
<!-- ============================================================== -->