<div *ngIf="user" class="col-md-8">
    <br>
    <img width="100" alt="property as one-way binding" [src]="image">
    <img width="100" alt="property as one-way binding" *ngIf="image2" [src]="image2">

    <h2>{{ user.firstname }} {{ user.lastname }} Details : </h2>
    <div><span>id: </span>{{user.id}}</div>
    <input class="form-control" [(ngModel)]="user.firstname" [inputMaxLength]="30">
    <input class="form-control" [(ngModel)]="user.lastname">
    <input class="form-control" [(ngModel)]="user.email">

    <hr>
    <button class="btn btn-primary" (click)="action('Hello from UserDetailComponent')">Hello</button>
    <button class="btn btn-primary" (click)="broadcastChild()">Broadcast from child</button>
</div>