<!-- ============================================================== -->
<!-- Navigation  -->
<!-- ============================================================== -->
<header>
    <app-navbar></app-navbar>
</header>
<!-- ============================================================== -->
<!-- End navigation  -->
<!-- ============================================================== -->




<!-- ============================================================== -->
<!-- Page wrapper  -->
<!-- ============================================================== -->
<main>
    <div class="container">
        <router-outlet></router-outlet>
    </div>
</main>
<!-- ============================================================== -->
<!-- End Page wrapper  -->
<!-- ============================================================== -->




<!-- ============================================================== -->
<!-- footer -->
<!-- ============================================================== -->
<footer>
    <app-footer></app-footer>
</footer>
<!-- ============================================================== -->
<!-- End footer -->
<!-- ============================================================== -->