body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
    padding-top: 15px;
    padding-bottom: 50px;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 5px;
    z-index: 999;
    background-color: lightgrey;
}