<!-- ============================================================== -->
<!-- Navigation  -->
<!-- ============================================================== -->
<app-navbar></app-navbar>
<!-- ============================================================== -->
<!-- End navigation  -->
<!-- ============================================================== -->




<!-- ============================================================== -->
<!-- Page wrapper  -->
<!-- ============================================================== -->
<div class="container">
    <router-outlet></router-outlet>
</div>
<!-- ============================================================== -->
<!-- End Page wrapper  -->
<!-- ============================================================== -->




<!-- ============================================================== -->
<!-- footer -->
<!-- ============================================================== -->
<app-footer></app-footer>
<!-- ============================================================== -->
<!-- End footer -->
<!-- ============================================================== -->