<p-dialog header="Delete user" [(visible)]="display" [modal]="true" width="400">
    <div class="row" style="margin-left:0px;margin-right:0px">
        <div class="col-md-12">
            <div class="form-horizontal">
                <div class="form-group">
                    <label class="col-sm-4">Identifiant :</label>
                    <div class="col-sm-8">
                        <span>{{ user.username }}</span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4">Email :</label>
                    <div class="col-sm-8">
                        <span>{{ user.email }} </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4">Prénom :</label>
                    <div class="col-sm-8">
                        <span>{{ user.firstname }} </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4">Nom :</label>
                    <div class="col-sm-8">
                        <span>{{ user.lastname }} </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <p-footer>
        <button class="btn btn-default" (click)="cancel()">CANCEL</button>
        <button class="btn btn-primary" (click)="delete()">DELETE</button>
    </p-footer>
</p-dialog>

<simple-notifications [options]="{position: ['bottom', 'right'], clickToClose: true, maxLength: 100}"></simple-notifications>