<!-- novalidate pour désactiver les validations HTML native -->
<form [formGroup]="demoForm1" (ngSubmit)="onSubmit()" novalidate>
    <div class="form-group">
        <label class="center-block">Code:
        <input class="form-control" formControlName="code">
      </label>
    </div>
    <p>Form value: {{ demoForm1.value | json }}</p>
    <p>Form status: {{ demoForm1.status | json }}</p>
</form>


<form [formGroup]="demoForm2" novalidate>
    <div class="form-group">
        <label class="center-block">Code:
        <input class="form-control" formControlName="code">
      </label>
        <div *ngIf="code.invalid && (code.dirty || code.touched)" class="alert alert-danger">
            <div *ngIf="code.errors.required">
                Champ obligatoire
            </div>
        </div>
    </div>

    <div class="form-group">
        <label class="center-block">Label:
        <input class="form-control" formControlName="label">
      </label>
        <div *ngIf="label.invalid && (label.dirty || label.touched)" class="alert alert-danger">
            <div *ngIf="label.errors.forbiddenLabel">
                chaîne non autorisée
            </div>
        </div>
    </div>

    <div formGroupName="demoChild" class="well well-lg">
        <div class="form-group">
            <label class="center-block">Code:
            <input class="form-control" formControlName="code">
          </label>
        </div>
        <div class="form-group">
            <label class="center-block">Label:
            <input class="form-control" formControlName="label">
          </label>
        </div>
    </div>

    <p>Form value: {{ demoForm2.value | json }}</p>
    <p>Form status: {{ demoForm2.status | json }}</p>


    <div style="margin-bottom: 1em">
        <button type="submit" [disabled]="demoForm2.pristine" class="btn btn-success">Save</button>
    </div>

</form>