<form (ngSubmit)="onSubmit()" #demoForm="ngForm">
    <div class="form-group">
        <label for="code">Code</label>
        <input type="text" class="form-control" name="code" id="code" required minlength="4" [(ngModel)]="model.code" #code="ngModel">
        <div *ngIf="code.invalid && (code.dirty || code.touched)" class="alert alert-danger">
            <div *ngIf="code.errors.required">
                Code est obligatoire
            </div>
            <div *ngIf="code.errors.minlength">
                Minimum 4 caractères
            </div>
        </div>
    </div>

    <div class="form-group">
        <label for="label">Label</label>
        <input type="text" class="form-control" name="label" id="label" required forbiddenLabel="test" [(ngModel)]="model.label" #label="ngModel">
        <div *ngIf="label.invalid && (label.dirty || label.touched)" class="alert alert-danger">
            <div *ngIf="label.errors.required">
                Label est obligatoire
            </div>
            <div *ngIf="label.errors.forbiddenLabel">
                chaîne non autorisée
            </div>
        </div>
    </div>

    <p>Form value: {{ model | json }}</p>
    <button type="submit" class="btn btn-success" [disabled]="!demoForm.valid">Submit</button>
</form>