<div class="container">

    <!--***********-->
    <!-- Template -->
    <!--***********-->
    <!-- <h2>Template</h2>
    <p>La somme de 1 + 1 est {{1 + 1}}</p>
    <div *ngFor="let demo of demos">
        <li [style.font-size.px]="(1===1) ? 18 : 12">{{ demo.label }}</li>
    </div>
    <div *ngFor="let demo of demos">
        <li [hidden]="demo.id === 1">{{ demo.label }}</li>
    </div>
    <button (click)="tempTest()">Delete demo</button>
    <hr> -->

    <!--***********-->
    <!-- Two-way bindings 1 -->
    <!--***********-->
    <!-- <h2>Two-way bindings 1</h2>
    <input type="text" [(ngModel)]="prop">
    <span>{{ prop }}</span>
    <hr> -->

    <!--***********-->
    <!-- Two-way bindings 2  -->
    <!--***********-->
    <!-- <h2>Two-way bindings 2</h2>
    <div [style.font-size.px]="fontSizePx">Resizable Text</div>
    <br>
    <sizer [(size)]="fontSizePx"></sizer>
    <sizer [size]="fontSizePx" (sizeChange)="fontSizePx=$event"></sizer>
    <hr> -->

    <!--***********-->
    <!-- Life cycle hooks -->
    <!--***********-->
    <!-- <h2>Cycles de vie des Components</h2>
    <input type="text" [(ngModel)]="id">
    <input type="text" [(ngModel)]="label">
    <hooks [id]="id" [label]="label"></hooks>
    <hr> -->

    <!--***********-->
    <!-- Interactions des Components -->
    <!--***********-->
    <!-- <h2>Interactions des Components</h2>
    <h3>Exemple {{ interEx }}</h3>
    <div *ngIf="interEx===1">
        <interactions-demo [code]="interCode" [label]="interLabel" [ex]="interEx"></interactions-demo>
    </div>
    <div *ngIf="interEx===2">
        <interactions-demo [prop]="interSetter" [ex]="interEx"></interactions-demo>
    </div>
    <div *ngIf="interEx===3">
        <input type="text" [(ngModel)]="interCode">
        <interactions-demo [code]="interCode" [ex]="interEx"></interactions-demo>
    </div>
    <div *ngIf="interEx===4">
        <interactions-demo (onAccept)="interOnAccept($event)" [ex]="interEx"></interactions-demo>{{interAccept}}
    </div>
    <div *ngIf="interEx===5">
        <interactions-demo #localVar [ex]="interEx"></interactions-demo>
        <span>{{localVar.hello}}</span>
    </div>
    <div *ngIf="interEx===6">
        <interactions-demo [ex]="interEx"></interactions-demo>
        <span>{{interViewChild}}</span>
    </div>
    <div *ngIf="interEx===7">
        <button (click)="broadcastParent()">Broadcast from parent</button>
        <span>{{dataFromChild}}</span>
        <interactions-demo [ex]="interEx"></interactions-demo>
    </div>
    <hr> -->

    <!--***********-->
    <!-- Directives -->
    <!--***********-->
    <!-- <h2>Directives d'attribut</h2>
    <p highlight>Directive de structure</p>
    <input type="text" [inputMaxLength]="5">

    <h2>Directives de structure</h2>
    <div *ngIf="directive.array.length > 1">{{directive.array[0]}}</div>
    <ul>
        <li *ngFor="let a of directive.array">{{a}}</li>
    </ul>

    <div [ngSwitch]="directive?.code">
        <div *ngSwitchCase="'A'">A</div>
        <div *ngSwitchCase="'B'">B</div>
        <div *ngSwitchCase="'C'">C</div>
    </div>
    <hr> -->

    <!--***********-->
    <!-- Pipes -->
    <!--***********-->
    <!-- <h2>Pipes</h2>
    <p>Date d'anniv {{ dateAnniv }}</p>
    <p>Date d'anniv {{ dateAnniv | date }}</p> -->
    <!-- Pipe parameter -->
    <!-- <p>Date d'anniv {{ dateAnniv | date: "MM/dd/yy" }}</p> -->
    <!-- Pipe binding parameter -->
    <!-- <p>Date d'anniv {{ dateAnniv | date: dateFormat }}</p> -->
    <!-- Chaining pipes -->
    <!-- <p>Date d'anniv {{ dateAnniv | date | uppercase }}</p> -->
    <!-- Custom Pipes -->
    <!-- <p>Exponentielle: {{2 | exponential}}</p>
    <input [(ngModel)]="exponent">
    <p>Exponentielle: {{2 | exponential: exponent}}</p>
    <hr> -->

    <!--***********-->
    <!-- Forms -->
    <!--***********-->
    <!-- Template-based Forms -->
    <!-- <h2>Template-driven Forms</h2>
    <template-driven-form></template-driven-form>
    <hr> -->

    <!-- Reactive Forms -->
    <!-- <h1>Reactive Forms</h1>
    <reactive-form></reactive-form>
    <hr> -->

    <!--***********-->
    <!-- DI -->
    <!--***********-->
    <!-- <h1>Dependency Injection</h1>
    <demos-di></demos-di>
    <hr> -->

    <!--***********-->
    <!-- Routing and Navigation -->
    <!--***********-->
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="collapsed navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-9" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="#" class="navbar-brand">Demo</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-9">
                <ul class="nav navbar-nav">
                    <li><a routerLink="/demo-from-lazy-module" routerLinkActive="active">Link to Component from Lazy Loaded Module</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <router-outlet></router-outlet>
</div>