<!--***********-->
<!-- Two-way bindings 1 -->
<!--***********-->
<input type="text" [(ngModel)]="prop">
<span>{{ prop }}</span>
<hr>

<!--***********-->
<!-- Two-way bindings 2  -->
<!--***********-->
<sizer [(size)]="fontSizePx"></sizer>
<div [style.font-size.px]="fontSizePx">Resizable Text</div>
<sizer [size]="fontSizePx" (sizeChange)="fontSizePx=$event"></sizer>
<hr>

<!--***********-->
<!-- Life cycle hooks -->
<!--***********-->
<input type="text" [(ngModel)]="id">
<input type="text" [(ngModel)]="label">
<hooks [id]="id" [label]="label"></hooks>
<hr>

<!--***********-->
<!-- Interactions -->
<!--***********-->
<!-- 01 -->
<interactions [code]="interCode" [label]="interLabel"></interactions>
<!-- 02 -->
<interactions [prop]="interSetter"></interactions>
<!-- 03 -->
<input type="text" [(ngModel)]="interCode">
<interactions [code]="interCode"></interactions>
<!-- 04 -->
<interactions (onAccept)="interOnAccept($event)"></interactions>
<span>{{interAccept}}</span>
<!-- 05 -->
<interactions #localVar></interactions>
<span>{{localVar.hello}}</span>
<!-- 06 -->
<span>{{interViewChild}}</span>
<hr>