<mz-navbar navbarClass="teal">
    <div class="container">
        <a href="#" class="brand-logo hide-on-med-and-down">ANGULAR CLI STARTER</a>
        <mz-navbar-item-container [align]="'right'">
            <mz-navbar-item *ngFor="let item of items">
                <a routerLink="{{ item.url }}" id="{{ item.id }}">{{ item.name }}</a>
            </mz-navbar-item>
            <mz-navbar-item [active]="true"><a (click)="logout()"><i class="material-icons">power_settings_new</i></a></mz-navbar-item>
        </mz-navbar-item-container>
    </div>
</mz-navbar>