// surcharge des variables de _variables.scss de bootstrap
$font-size-base: 14px !default;
// font path
$bootstrap-sass-asset-helper: false;
$icon-font-path: "./../../node_modules/bootstrap-sass/assets/fonts/bootstrap/";
$fa-font-path: "./../../node_modules/font-awesome/fonts";