<div class="container">
    <h3>{{ rsc.title }}</h3>
    <div class="divider"></div>

    <h2>{{ rsc.subTitle }}</h2>

    <div *ngIf="message" class="card-panel red lighten-1">{{ message }}</div>

    <div (keypress)="eventHandler($event.keyCode)">
        <div class="row">
            <mz-input-container class="col s12 m12">
                <input mz-input type="text" [(ngModel)]="model.username" [placeholder]="rsc.loginPLH" />
            </mz-input-container>

            <mz-input-container class="col s12 m12">
                <input mz-input type="password" [(ngModel)]="model.password" [placeholder]="rsc.passwordPLH" />
            </mz-input-container>
        </div>

        <button mz-button class="left" (click)="login()">{{ rsc.buttons.connect }}</button>
        <button mz-button class="right blue" (click)="register()">{{ rsc.buttons.register }}</button>
    </div>
</div>